.paginationButtons {
    margin: 0px 5px 0px 5px;
    font-size: 20px;
    background-color: var(--secondary);
    border: 0px;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.paginationButtons:hover {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
}

.active {
    background-color: var(--primary-dim);
}