.buttonContainer {
    position: relative;
}

.copyButton {
    background: var(--cap-span);
    border-radius: 6px;
    height: 35px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 0px;
    cursor: pointer;
    display: flex;
}

.copyButton:hover {
    opacity: 0.4;
}

.buttonText {
    margin: 7px;
}