.replyForm {
    margin-left: 50px;
}

.textareaContainer {
    position: relative;
}

.textareaComment {
    display: flex;
    border: none;
    width: 100%;
    height: 100px;
    background-color: var(--cap-span);
    text-align: left;
    vertical-align: top;
    padding: 20px 15px 20px 15px;
    border-radius: 10px 10px 0 10px;
    font-size: 18px;
    resize: vertical;
}

.characterCount {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
}

.characterCountError {
    color: red;
}

.textareaCommentError {
    border: 2px solid red;
}

.replyButton {
    background-color: var(--secondary);
    border: none;
    padding: 20px;
    margin: 15px 15px 0 0;
    border-radius: 10px;
    transition: transform 0.3s ease;
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.replyButton:hover {
    transform: scale(1.1);
}

.replyButtonDisabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.dismissButton {
    background-color: var(--background);
    border: none;
    padding: 20px;
    margin: 15px 15px 0 0;
    border-radius: 10px;
    transition: transform 0.3s ease;
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.dismissButton:hover {
    background-color: var(--secondary);
    transform: scale(1.1);
}
