.commentWrapper {
    display: block;
    align-items: flex-start;
    width: 93.5%;
    height: fit-content;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;
    position: relative;
}

.commentWrapper:hover .commentHeader{
    opacity: 0.7;
}

.commentHeader {
    display: flex;
    padding: 10px;
}

.commentBody {
    padding: 10px;
    width: fit-content;
}

.actions {
    display: flex;
    justify-content: left;
    margin: 10px;
    margin-left: 60px;
    width: fit-content;
    padding: 5px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
    width: 100px;
}

.action:hover {
    background-color: var(--secondary);
    border-radius: 10px;
    cursor: pointer;
}

.text{
    margin-left: 5px;
}

.verticalLine {
    background-color: var(--secondary);
}
  
.verticalLine::before {
    border-radius: 10px;
    content: '';
    width: 4px;
    background-color: var(--secondary);
    height: 190%;
    position: absolute;
    bottom: -5px;
    left: -40px;
}

.horizontalLine {
    background-color: var(--secondary);
}

.horizontalLine::before {
    border-radius: 10px;
    content: '';
    position: absolute;
    bottom: 30%;
    left: -40px; 
    width: 40px; 
    height: 4px;
    background-color: var(--secondary);
}