.scrollToTop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.scrollToTopButton {
    border-radius: 15px 15px 0 0;
    position: fixed;
    bottom: 0px;
    background-color: var(--secondary);
    border: none;
    padding: 10px;
    cursor: pointer;
    display: none;
    opacity: 0.8;
    width: 150px;
    transition: transform 0.3s ease;
}

.scrollToTopButton:hover {
    opacity: 1;
    transform: scale(1.1);
}

.scrollToTopButton.visible {
    display: block;
}

.scrollToTopButton:focus {
    outline: none;
}