.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.tagsL {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.tagL {
  background-color: #eee1e1;
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.tagL:hover {
  transform: scale(1.1);
}

.tagTextL {
  margin: 9px;
  font-weight: bold;
}

.tagsS {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.tagS {
  background-color: #eee1e1;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.tag {
  background-color: #eee1e1;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.tagS:hover {
  transform: scale(1.1);
}

.tagTextS {
  margin: 9px;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}

.delimiterL {
  width: 30%;
  height: 3px;
  background-color: red;
  border-radius: 50px;
}

.delimiter {
  margin-top: 15px;
  width: 100%;
  height: 1px;
  background-color: rgb(131, 129, 129);
  border-radius: 50px;
}

.content {
  margin: 2rem auto 2rem;
  display: flex;
  justify-content: center;
}

.morePosts {
  background-color: #eee1e1;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-color: transparent;
  transition: transform 0.3s ease;
}

.morePosts:hover {
  transform: scale(1.1);
}

.socialMedias {
  margin: 2rem auto 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.socialMediaImg {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.socialMediaImg:hover {
  transform: scale(1.1);
}