.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.imgContainer {
  position: relative;
  width: 200px;
  height: 200px;
}

.borderCircle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.semicircleOverlay {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  border-radius: 0 0 40rem 40rem;
  backdrop-filter: blur(2px);
  cursor: pointer;
}

.searchIcon {
  width: 24px;
  height: 24px;
  position: relative;
}

.handle {
  width: 5px;
  height: 26px;
  background-color: var(--primary-bright);
  position: absolute;
  top: 60%;
  left: 340%;
  transform: translate(-50%, -180%);
  border-radius: 2px;
  rotate: 125deg;
}

.circle {
  width: 40px;
  height: 40px;
  border: 5px solid var(--primary-bright);
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 340%;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: var(--primary-bright);
}

.tagsL {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.tagL {
  background-color: var(--secondary);
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.tagL:hover {
  transform: scale(1.1);
}

.tagTextL {
  margin: 9px;
  font-weight: bold;
}

.tagsS {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.tagS {
  background-color: var(--secondary);
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.tag {
  background-color: var(--secondary);
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.tagS:hover {
  transform: scale(1.1);
}

.tagTextS {
  margin: 9px;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}

.delimiterL {
  width: 30%;
  height: 3px;
  background-color: var(--cap-span);
  border-radius: 50px;
}

.delimiter {
  margin-top: 15px;
  width: 100%;
  height: 1px;
  background-color: var(--primary-dim);
  border-radius: 50px;
}

.content {
  margin: 2rem auto 2rem;
  display: flex;
  justify-content: center;
}

.morePosts {
  background-color: var(--secondary);
  border-radius: 10px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-color: transparent;
  transition: transform 0.3s ease;
}

.morePosts:hover {
  transform: scale(1.1);
}

.footer {
  margin: 0 9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footerItem:hover {
  opacity: 0.6;
}

.topicInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.separator::before {
  content: '\00B7';
  font-size: 20px;
  margin: 0 5px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.progress {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border: none;
  background: transparent;
}

.progress::-webkit-progress-bar {
  background: var(--background);
}

.progress::-webkit-progress-value {
  background-color: var(--primary-dim);
}

.postLink:hover {
  text-decoration: none;
  color: var(--primary-dim);
}

.cardsContainer {
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.card {
  align-items: center;
  justify-content: space-between;
  background: var(--secondary);
  border-radius: 15px;
  padding: 25px;
  margin: 10px;
  height: fit-content;
}

.card:hover {
  opacity: 0.8;
}

.cardAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reactionsSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reaction {
  margin: 20px 20px 10px 20px;
  font-size: xx-large;
  cursor: pointer;
}

.reactions {
  border-radius: 20px;
}

.reactions:hover {
  opacity: 0.5;
  background-color: var(--cap-span);
}

.reactionCount {
  margin: 0px 20px 10px 35px;
}
